@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/ralewaythin/raleway_thin-webfont.eot');
    src: url('fonts/ralewaythin/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ralewaythin/raleway_thin-webfont.woff') format('woff'),
         url('fonts/ralewaythin/raleway_thin-webfont.ttf') format('truetype'),
         url('fonts/ralewaythin/raleway_thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
	color: black;
	font-family: 'ralewaythin';
}

::selection {
    background: rgba(231,105,105,0.7);
    color: white !important;
}
::-moz-selection {
    background: rgba(231,105,105,0.7);
    color: white !important;
}

div.container div.columns {
    -webkit-box-shadow: 2px 4px 1px #eeeeee;
    -moz-box-shadow: 2px 4px 1px #eeeeee;
    box-shadow: 2px 4px 1px #eeeeee;
    margin-bottom: 30px;
}

.header {
    background-color: #c3e7e5;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px #FFFFFF;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container div.columns {
    background-color: white;
    overflow: hidden;
}

p {
    margin-top: 10px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.highlight-a {
    background-color: #444444;
}

.highlight-b {
    background-color: #222222;
}

li {
    padding: 3px 0px 5px 0px;
    margin-bottom: 0px !important;
}

.brown {
    color: rgb(231,55,105);
}

.trace {
    padding: 20px;
    border-bottom: solid 1px #c3e7e5;
    font-size: 12px;
    word-wrap: break-word;
    cursor: pointer;
}

.code {
    display: none;
    width: 100%;
}

.code.current {
    display: block !important;
}

.code-title {
    padding: 10px 10px 10px 20px;
    background-color: #c3e7e5;
    font-size: 14px;
}

.trace:hover {
    background-color: #e0fbfa;
}

.blue {
    background-color: #c3e7e5;
}

.blue:hover {
    background-color: #c3e7e5;
}

.trace span.brown {
    font-size: 15px;
}

dt {
    font-size: 14px;
}

dd {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
}

ul {
    list-style: disc;
}

li {
    margin-bottom: 5px;
}